.col{
    vertical-align:top;
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

.ask {
    display: inline-block;
    width: 75px;
}

.inputy{
    display: none;
}

.title{
    font-size: 20px;
}